<figure>
  <IMG SRC="https://dataexcellence.nl/wp-content/uploads/2019/01/NHL-Hogeschool-tile.png" width=160 ALIGN="right">
</figure>
<figure>    
    <IMG SRC="https://logodownload.org/wp-content/uploads/2019/10/python-logo-2.png" width=80 ALIGN="right">
</figure>


# Python voor Civiel Basis - 3
*Ontwikkeld door Freark van der Sluis*


## Lists,  tuples en Arrays

In deze cursus maken we kennis met lists en arrays en doen we bewerkingen op array's. Hiervoor gebruiken we Numpy en om de array's te visualiseren in grafieken gebruiken we weer matplotlib.

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
plotstyles = plt.style.available #Door dit commando worden alle beschikbare plotstyles in een lijst weergegeven
print(plotstyles) 
plt.style.use(plotstyles[11]) #Door dit commando wordt het plotstyle 11 (seaborn-v0_8) geactiveerd   # andere plotstyles kun je vinden op : https://matplotlib.org/gallery/style_sheets/style_sheets_reference.html

## 1D - Lists

Python heeft meerdere datastructuren, bijvoorgeeld lists en tuples, die bestaan uit een lijst van een of meer elementen. De elementen van lijsten of tuples kunnen getallen of strings zijn, of beide. Lists worden gedefinieerd door een paar vierkante haken aan beide uiteinden met individuele elementen gescheiden door komma's. Een list is een verzameling data opgeslagen in een bepaald formaat. Het formaat wodt gedefineerd in rijen en klommmen. In basiscursus 2 hebben we op basis van een while loop de uitkomst van de functie opgeslagen in een list. Deze list hebben we gebruikt om een grafiek te plotten. We gaan nu dieper in op lists en hoe je deze kunt bewerken en gebruiken.

Hier onder zie je een voorbeeld van een 1 dimensionale list van 1 rij en 4 kolommen waarin data is opgeslagen. in dit geval van het type int.

In [ ]:
c1=[1, 7, 2, 12]
print(c1)

Deze list kun je nu bewerken.

In [ ]:
c2 = [4,5]+c1+[0,0]     # toevoegen van waardes aan de list
print('ç2 =',c2)
c3 = c1[::-1]           # omkeren van een list
print('ç3 =',c3)
c4 = c1[1:3]            # slicen van de 2e en 4e waarde uit de list
print ('ç4 =',c4) 
c5 = c1 + c2 + c3      # samenvoegen van lists, dit is geen optelling!
print('ç5 =',c5)
c6 = 3*c1 + c2         # herhaling en samenvoegen van lists, * is hier geen vermenidgvuldiging!
print('ç6 =',c5)
c7 = c1 * c2 * c3      # vermenigvuldigen en andere wiskundige bewerkingen van een list kan niet, levert een TypeError op.
print('ç7 =',c7)

Je kunt ook lists maken met strings en deze bewerken.

In [ ]:
d=['sluis', 'brug', 'stuw']
print('d =',3*d)               # herhaling van lists, *is hier geen vermenidgvuldiging!
e = c1 + d
print(e)                       # je kunt ook lists van verschillende types samenvoegen.
type (e)                       # e is van het type list, dus geen int en geen string maar een list.

Individuele waardes uit een list kun je wel oproepen en gebruiken als variabele om wiskundige berekeningen mee te doen.

In [ ]:
aantal = c1[2]
print(aantal**3.0)

### Opdracht

Maak drie lists van 8 karakters van diverse types en voeg van de drie lists alle 4e en 5e waardes van de list samen in omgekeerde volgorde. print alle stappen die je hiervoor maakt als afzonderlijk regels.

## 2D lists

Vaak bestaan lijsten uit meerdere rijen en kolommen. In python wordt dat weergegeven als een list in een list gescheiden door een komma. Waardes uit de list kun je oproepen door te verwijzn naar rijnummer en kolomnummer. Hieronder een voorbeeld van een 2D lsit waar enkele bewerkingen op worden gedaan.

In [ ]:
a = [[1, 2, 3, 4], 
     [5, 6, 7, 8]]

print(a[1]) 
print(a[0][0])             # dit is de waarde uit de linker bovenhoek van de list, eerte rij, eertse kolom
print(a[1][2])             # dit is de waarde uit de tweede rij derde kolom 
b = [a[0]+[15], a[1]+[15]]   
print (b)                  # er is een kolom met waarde 15 toegevoegd aan list a

In [ ]:
d = plt.plot(b,'--')
plt.show(d)

Voor complexere vormen en bewerkingen op Lists gaan we verder in de cursus in op Array's gemaakt met behulp van de package Numpy.

### Opdracht

In de root van de uitgepakte basis cursus staat een excel file 'vervoerdata.xlsx' met daarin data van het gebruik van fiets auto en OV voor het reizen naar school per leftijdsgroep. Maak van deze data een 2D list en plot een barplot van vervoerstypen per leeftijd. Maak hiervoor de assen op met matplotlib en geef de lijnen herkenbare eigenschappen.

Gebruik externe bronnen als voorbeeld https://python-graph-gallery.com/barplot/

## Tuples

Een tuple is net als een list een manier om data op te slaan in python. Maar het grote verschil is dat een tuple niet gewijzigd kan worden nadat hij is gedefinieerd. Tuples worden met name gebruikt wanneer een list uit diverse types bestaat.


Door gebruik te maken van () tekens en de items te scheiden met een ',' wordt een Tuple gedefinieerd. 

Tuples kunnen integers bevatten (tuple 1) ook kunnen tuples gevuld worden met strings (tuple2). 

En het is mogelijk om een tuple met tuples en/of lists van verschillende types te maken (tuple 3).

In [ ]:
tuple1 = (1,2,3,4,5)
tuple2 = ('Piet', 'Jan', 'Klaas')
tuple3 = ((1, 2, 3), [6, 2], ('Jan', 5))

Vervolgens kun je ook uit een tuple data oproepen, als variabele gebruiken etc. Lists en ook tuples tellen de positie van de waardes vanaf 0. 0 is de eerste plaats in de list 3 is dus de 4e plek in de list of tuple.

In [ ]:
print(tuple1[3])
print(tuple2[2])
print(tuple3[1])

### Numpy Array

Numpy is een handige package als je werkt met lists. Een groot voordeel is dat er bijvoorbeeld wel wiskundige berekeningen kunnen worden uitgevoerd op de data. In  onderstaande voorbeeld is de 1D list c opnieuw gedefinieerd als een Numpy array (list). En in deze array kunnen alle items gedeeld worden door 3 mits het item van het type int of float is.

In [ ]:
c = np.array([1, 7, 2, 12])
b= c/3
print(b)

Met numpy kun je ook handig een array maken over een range. Bijvoorbeel een tijds range van 0 tot 60 min in stappen van 10 minuten.

In [ ]:
x = np.arange(0,60,10)
print(x)

Je kunt nu verschillende bewerkingen en uitvoeren genereren over dit array. Waarbij je eigenschappen van de array opvraagt of specifieke waardes uit de array print op basis van locatie.

In [ ]:
print('Aantal rijen :', np.ndim(x))
print('Aantal variabelen :', len(x))
print('De eerste waarde uit de array :', x[0]) 
print('De vierde waarde uit de array is : ', x[3])

Je kunt ook net als met lists met standaard python commano'd je array's slicen, en een deel van de array printen.

In [ ]:
y = np.arange(20, 30)
print(y)
print(y[0:5])   
print(y[:5])    
print(y[3:7])    
print(y[2:9:2])

De bewerkingen op arrays zijn eindeloos en iedere toepassing vraagt weer zijn eigen bewerking. Numpy is 'de' package waarin dat allemaal samen komt. Een overzicht van alle mogelijkheden met numpy en array's vind je op : www.numpy.org.

In [ ]:
a = np.array([1,5,2])
b = np.array([7,4,1])
V = np.sqrt(a) + b**2

In [ ]:
plt.plot(a,'r')
plt.plot(b,'b')
plt.plot(V,'g')

In [ ]:
x = np.array([2,3,1,0])

In [ ]:
plt.plot(x)

Onderstaand een voorbeeld waar op basis van een array, bestaand uit fictieve stromingsdata, waarbij iedere waarde staat voor een aantal m3/sec. Deze data wordt op basis van een random integer gegenereerd met behulp van numpy.

In [ ]:
S1 = np.random.randint(0,100, size=(30,1)) # fictieve stromingsdata jaar 1
S2 = np.random.randint(0,100, size=(30,1)) # fictieve stromingsdata jaar 2
S3 = S1 - S2                               # Verschil in stroming jaar 1 en jaar 2

plt.plot(S1, 'r',S2, 'g', S3, 'b--')
plt.xlabel('dagen')
plt.ylabel('m3/dag');

In [ ]:
S4 = np.concatenate((S1, S2, S3), axis=1)  # Alle data S1, S2, S3 samengevoegd in 1 array

plt.figure(figsize=(15,5)) # Voor de plot gemaakt wordt kan de afmeting van de figuur/grafiek worden gedefinieerd.
stromingsdata = plt.plot(S4) 
print (stromingsdata)
plt.xlabel('dagen')
plt.ylabel('m3/dag')

In [ ]:
print (S4)

### Opdracht
Maak een array van het overschot of tekort aan water voor een woonwijk met een oppervlak van 10.000 m2 en visualiseer deze data.<br>
<br>
Neerslag gegevens maart in een woonwijk met een oppervlak van 10.000 m2:<br>
<br>
-1-5 maart droog weer 2 mm verdamping/dag <br>
-6-11 maart 5 mm per dag <br>
-12-13 maart 40 mm per dag<br>
-14-19 maart droog weer 10 mm verdamping/dag<br>
-20-24 maart droog weer 5 mm verdamping/dag<br>
-25-27 maart 8 mm per dag<br>
-28-31 maart droog weer 5 mm verdamping/dag<br>
<br>